In [20]:
import pandas as pd
import numpy as np
import matplotlib as mp
from utils import *
import tiingo

In [21]:
AAPL, AMZN, BABA, CRM, FB, GOOGL, MSFT, NFLX, TSLA, WMT = load_training_data()

In [22]:
tickers = [AAPL, AMZN, BABA, CRM, FB, GOOGL, MSFT, NFLX, TSLA, WMT]
AAPL.tail()

,Date,Open,Close,High,Low,Volume,Average,Ticker
257,2019-05-20,183.520004,178.970001,188.000000,177.809998,156970100,182.904999,original/AAPL
258,2019-05-27,178.919998,175.070007,180.589996,174.990005,104691400,177.790000,original/AAPL
259,2019-06-03,175.600006,190.149994,191.919998,170.270004,154348200,181.095001,original/AAPL
260,2019-06-10,191.809998,192.740005,196.789993,190.300003,111843100,193.544998,original/AAPL
261,2019-06-17,192.899994,198.449997,200.289993,192.169998,40757000,196.229996,original/AAPL

In [23]:
AAPL["Ticker"]

0      original/AAPL
1      original/AAPL
2      original/AAPL
3      original/AAPL
4      original/AAPL
5      original/AAPL
6      original/AAPL
7      original/AAPL
8      original/AAPL
9      original/AAPL
10     original/AAPL
11     original/AAPL
12     original/AAPL
13     original/AAPL
14     original/AAPL
15     original/AAPL
16     original/AAPL
17     original/AAPL
18     original/AAPL
19     original/AAPL
20     original/AAPL
21     original/AAPL
22     original/AAPL
23     original/AAPL
24     original/AAPL
25     original/AAPL
26     original/AAPL
27     original/AAPL
28     original/AAPL
29     original/AAPL
           ...
232    original/AAPL
233    original/AAPL
234    original/AAPL
235    original/AAPL
236    original/AAPL
237    original/AAPL
238    original/AAPL
239    original/AAPL
240    original/AAPL
241    original/AAPL
242    original/AAPL
243    original/AAPL
244    original/AAPL
245    original/AAPL
246    original/AAPL
247    original/AAPL
248    original/AAPL
249    original/AAPL
250    original/AAPL
251    original/AAPL
252    original/AAPL
253    original/AAPL
254    original/AAPL
255    original/AAPL
256    original/AAPL
257    original/AAPL
258    original/AAPL
259    original/AAPL
260    original/AAPL
261    original/AAPL
Name: Ticker, Length: 262, dtype: object